@{
    ViewData["Title"] = "Acceuil";
    Layout = "~/Views/Shared/LayoutClient/_LayoutClient.cshtml";
}
<body class="index-page">
  <main class="main">
    <!-- Hero Section -->

      <!-- Page Title -->
    <div class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Contact</h1>
                <p>Pour toute question concernant votre abonnement, contactez-nous aux informations ci-dessous.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Page Title -->


    <!-- About Section -->
    


    <!-- Recent Posts Section -->
    

    <!-- Contact Section -->
    <section id="contact" class="contact section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">
            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Adresse</h3>
                  <p>Rue de tunnel Ambohijatovo, Antananarivo, Madagascar</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Appelez-nous</h3>
                  <p>+261 34 12 345 67</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email</h3>
                  <p>support@omnis.mg</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h3>Heures d'ouverture:</h3>
                  <p>Lun-Sam: 8h00 - 16h00</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade" data-aos-delay="100">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Votre Nom" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Votre Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Sujet" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="8" placeholder="Message" required=""></textarea>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main><!-- End #main -->
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->

  <!-- Vendor JS Files -->
  <script src="../assetsUser/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assetsUser/vendor/php-email-form/validate.js"></script>
  <script src="../assetsUser/vendor/aos/aos.js"></script>
  <script src="../assetsUser/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assetsUser/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assetsUser/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assetsUser/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../assetsUser/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="../assetsUser/js/main.js"></script>
<style>
    .page-title {
      background: linear-gradient(to left, #0d2d5a, #424abd);
      color: #fff;
      padding: 50px 0;
  }
</style>
</body>



</html>